{% extends 'base.html' %}
{% load static %}
{% block header %}
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/selectBox.css' %}">
{% endblock %}

{% block sidebar %}
    <div class="sidebar" data-color="purple" data-image="{% static 'img/sidebar-5.jpg' %}">s
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/content/dashboard" class="simple-text">
                    <img src="{% static 'img/emotion.png' %}" style="width: 60px; height:60px;"/>
                    <i>WITH</i>
                </a>
            </div>

            <ul class="nav">
                {% if member != 0 %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/content/dashboard">
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                {% elif member == 0 %}
                    <li class="nav-item ">
                        <a class="nav-link" href="/content/table">
                            <i class="pe-7s-note2"></i>
                            <p>User List</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/content/image">
                            <i class="nc-icon nc-atom"></i>
                            <p>Image List</p>
                        </a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="/content/notifications">#}
{#                            <i class="pe-7s-bell"></i>#}
{#                            <p>Notifications</p>#}
{#                        </a>#}
{#                    </li>#}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
<!-- 위쪽 네비바 -->
{% block navbar %}
    <nav class="navbar navbar-expand-lg " color-on-scroll="500">
        <div class="container-fluid">
            <a class="navbar-brand" href="/content/dashboard"> Dashboard </a>
            <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:logout' %}">
                            <span class="no-icon">Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        {% if results %}
                            <div class="card-header ">
                                <h4 class="card-title">Today's Emotion Status</h4>
                                <br>
                                <p class="card-category">
                                    <center>
                                        <div id="content_box">
                                            <link rel="stylesheet" href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
                                            <script src="//code.jquery.com/jquery-1.9.1.js"></script>
                                            <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
                                            <script>
                                                $(document).ready(function(){
                                                $.datepicker.regional.ko={closeText:"\ub2eb\uae30",
                                                prevText:"\uc774\uc804\ub2ec",
                                                nextText:"\ub2e4\uc74c\ub2ec",
                                                currentText:"\uc624\ub298",
                                                monthNames:["1\uc6d4(JAN)","2\uc6d4(FEB)","3\uc6d4(MAR)","4\uc6d4(APR)","5\uc6d4(MAY)","6\uc6d4(JUN)","7\uc6d4(JUL)","8\uc6d4(AUG)","9\uc6d4(SEP)","10\uc6d4(OCT)","11\uc6d4(NOV)","12\uc6d4(DEC)"],
                                                monthNamesShort:["1\uc6d4","2\uc6d4","3\uc6d4","4\uc6d4","5\uc6d4","6\uc6d4","7\uc6d4","8\uc6d4","9\uc6d4","10\uc6d4","11\uc6d4","12\uc6d4"],
                                                dayNames:["\uc77c","\uc6d4","\ud654","\uc218","\ubaa9","\uae08","\ud1a0"],
                                                dayNamesShort:["\uc77c","\uc6d4","\ud654","\uc218","\ubaa9","\uae08","\ud1a0"],
                                                dayNamesMin:["\uc77c","\uc6d4","\ud654","\uc218","\ubaa9","\uae08","\ud1a0"],
                                                weekHeader:"Wk",
                                                dateFormat:"yy-mm-dd",
                                                firstDay:0,isRTL:!1,
                                                showMonthAfterYear:!0,
                                                yearSuffix:"",
                                                showOn:"both",
                                                buttonText:"\ub2ec\ub825",
                                                changeMonth:!0,
                                                changeYear:!0,
                                                showButtonPanel:!0,
                                                yearRange:"c-99:c+99"},
                                                $.datepicker.setDefaults($.datepicker.regional.ko);
                                                var e=new Date,
                                                t=new Date,
                                                a=e.getMonth()+1,
                                                o=e.getDate();

                                                a=a<10?"0"+a:a,o=o<10?"0"+o:o;

                                                var n=e.getFullYear()+"-"+a+"-"+o;

                                                t.setDate(e.getDate()-7);

                                                var d=t.getMonth()+1,
                                                r=t.getDate();

                                                d=d<10?"0"+d:d,
                                                r=r<10?"0"+r:r;

                                                var i=t.getFullYear()+"-"+d+"-"+r;

                                                $("#sdate").val(i),
                                                    $("#edate").val(n),
                                                    $("#sdate").datepicker(),
                                                    $("#sdate").datepicker("option","maxDate",$("#edate").val()),
                                                    $("#sdate").datepicker("option","onClose",function(e){$("#edate").datepicker("option","minDate",e),
                                                    $("#edate").val(e)}),$("#edate").datepicker(),
                                                    $("#edate").datepicker("option","minDate",$("#sdate").val()),$("#edate").datepicker("option","beforeShow",function(){var e=$("#sdate").val().split("-");
                                                    e[1]=e[1]-1;

                                                    var t=new Date(e[0],e[1],e[2]),
                                                    a=new Date(e[0],e[1],e[2]);
                                                    a.setDate(t.getDate()+7),$("#edate").datepicker("option","maxDate",a)}),
                                                    $("#edate").datepicker("option","onClose",function(e){$("#sdate").datepicker("option","maxDate",e)})});
                                            </script>
                                            <form name="frmEX" method="post" action="/content/dashboard/{{ users.user_id }}/">
                                                시작일 : <input type="text" name="sdate" id="sdate" size="10" maxlength="10" value="">
                                                ~
                                                종료일 : <input type="text" name="edate" id="edate" size="10" maxlength="10" value="">
                                                <button type="submit" class="w-btn w-btn-indigo">SUBMIT</button>
                                                <br> 시작일은 종료일 이후 날짜를 선택 할 수 없으며, 종료일은 시작일 이전의 날짜를 선택 할 수 없습니다.
                                                <br> 종료일 선택시 종료일을 선택 할 수 있는 최대 범위를 시작일 +7일
                                            </form>
                                        </div>
                                    </center>
                                </p>
                                <hr>
                            </div>
                            <div class="card-body ">
                                <!-- 차트 그릴 캔버스 적용-->
                                <canvas id="radar-chart" width="630" height="430"></canvas>
                            </div>
                            {% elif line_data %}
                            <div class="card-header ">
                                <h4 class="card-title">Today's Emotion Status</h4>
                                <br>
                                <p class="card-category">
                                    <input type="date"><span>~</span><input type="date">
                                    <button class="w-btn w-btn-indigo" type="button" style="float:right;">SUBMIT</button>
                                </p>
                                <hr>
                            </div>
                            <div class="card-body ">
                                <!-- 차트 그릴 캔버스 적용-->
                                <canvas id="line-chart" width="630" height="430"></canvas>
                            </div>
                        {% else %}
                            <div class="card-header ">
                                <h4 class="card-title">Emotion Status</h4>
                                <p class="card-category"><input type="date"></p>
                            </div>
                            <div class="card-body ">
                                <!-- 유저가 입력한 정보가 없을때 -->
                                대상자의 데이터가 없습니다.
                            </div>
                        {% endif %}
                        <div class="card-footer ">
                            <hr>
                            <div style="float:right;">
                                <span id="sb" style="float:right;">
                                    <form method="post" action="/content/dashboard/{{ users.user_id }}/">
                                        <select name="emotions" class="select" style="width:120px;height:35px;">
                                            <option disabled selected>Emotions 🙂</option>
                                            <option value="fear">Fear</option>
                                            <option value="surprise">Surprised</option>
                                            <option value="anger">Anger</option>
                                            <option value="sadness">Sadness</option>
                                            <option value="neutrality">Neutrality</option>
                                            <option value="happiness">Happiness</option>
                                            <option value="anxiety">Anxiety</option>
                                            <option value="embarrassed">Embarrassed</option>
                                            <option value="hurt">Hurt</option>
                                            <option value="interested">Interested</option>
                                            <option value="boredom">Boredom</option>
                                        </select>
                                        <input type="date" name="line_date">
                                        <button type="submit" class="w-btn w-btn-indigo">SUBMIT</button>
                                    </form>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="card-image">
                            <img src="{% static 'img/sidebar-3.jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="author">
                                <img class="avatar border-gray" src="{% static 'img/faces/face-7.jpg' %}" alt="...">
                                <h3 class="title">{{users.name}}</h3>
                                <p class="description">
                                    <a href="https://www.instagram.com/test_test131/">
                                        @test_test131
                                    </a>
                                </p>
                            </div>
                            <div>
                                <span style="position:absolute; left:42%;">
                                    <a class="btn btn-sm btn-outline-success btn-round btn-icon" href="/content/messages/">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Other Users</h4>
                            <hr>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled team-members">
                                <li>
                                    <div class="row">
                                        <div class="col-md-2 col-2">
                                            <div class="avatar">
                                                <img src="{% static 'img/faces/ayo-ogunseinde-2.jpg' %}"
                                                     alt="Circle Image"
                                                     class="img-circle img-no-padding img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            원종현
                                            <br/>
                                            <span class="text-muted"><small>Offline</small></span>
                                        </div>
                                        <div class="col-md-3 col-3 text-right">
                                            <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                                                    class="fa fa-envelope"></i></button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-2 col-2">
                                            <div class="avatar">
                                                <img src="{% static 'img/faces/joe-gardner-2.jpg' %}" alt="Circle Image"
                                                     class="img-circle img-no-padding img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            오정수
                                            <br/>
                                            <span class="text-success"><small>Available</small></span>
                                        </div>
                                        <div class="col-md-3 col-3 text-right">
                                            <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                                                    class="fa fa-envelope"></i></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        new Chart(document.getElementById("radar-chart"), {
            type: 'radar',
            data: {
                labels: ["Fear", "Surprised", "Anger", "Sadness", "Neutrality", "Happiness", "Anxiety", "Embarrassed", "Hurt", "interested", "Boredom"],
                datasets: [
                    {% for result in results %}{
                        label: "{{ result.date }}",
                        fill: true,
                        backgroundColor: "{{ result.back }}",
                        borderColor: "{{ result.color }}",
                        pointBorderColor: "#fff",
                        pointBackgroundColor: "{{ result.color }}",
                        data: [{{ result.fear }}, {{ result.surprise }}, {{ result.anger }}, {{ result.sadness }}, {{ result.neutrality }}, {{ result.happiness }}, {{ result.anxiety }}, {{ result.embarrassed }}, {{ result.hurt }}, {{ result.interest }}, {{ result.boredom }}]
                    },{% endfor %}
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Emotion Status by a day'
                }
            }
        });
    </script>
    <script>
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: [0,2,4,6,8,10,12,14,16,18,20,22],
                datasets: [{
                    data: [
                        {% for data in line_data %}
                        {{ data.emotion }},
                        {% endfor %}
                    ],
                    label: "{{ label }}",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                display: true,
                text: "{{ line_data.0.date }} {{ label }}"
                }
            }
        });
    </script>
{% endblock %}