{% extends 'base.html' %}
{% load static %}
<!-- 사이드바 들어갈곳 -->
{% block sidebar %}
    <div class="sidebar" data-color="purple" data-image="{% static "img/sidebar-5.jpg" %}">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/content/dashboard" class="simple-text">
                    <img src="{% static 'img/emotion.png' %}" style="width: 60px; height:60px;"/>
                    <i>WITH</i>
                </a>
            </div>

            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/content/table">
                        <i class="pe-7s-note2"></i>
                        <p>User List</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/content/image">
                        <i class="nc-icon nc-atom"></i>
                        <p>Image List</p>
                    </a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="/content/notifications">#}
{#                        <i class="pe-7s-bell"></i>#}
{#                        <p>Notifications</p>#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </div>
    </div>
{% endblock %}
<!-- 위쪽 네비바 들어갈곳 -->
{% block navbar %}
    <nav class="navbar navbar-expand-lg " color-on-scroll="500">
        <div class="container-fluid">
            <a class="navbar-brand" href="#pablo"> Table </a>
            <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:logout' %}">
                            <span class="no-icon">Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
<!-- 컨텐츠 들어갈곳 -->
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">


                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="doughnut-chart" width="300" height="250"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header ">
                            <h4 class="card-title">Word List</h4>
                            <p class="card-category">The number of speaking words </p>
                            <hr>
                        </div>
                        <div class="card-body">
                            <canvas id="bar-chart-horizontal" width="400" height="250"></canvas>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header">
                            <h4 class="card-title mx-3">대상자 목록</h4>
                            <blockquote class="blockquote text-right">
                                <p class="mx-4"><a href="/content/user" class="text-secondary">유저추가</a></p>
                            </blockquote>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <th scope="col">대상자 ID</th>
                                <th scope="col">이름</th>
                                <th scope="col">성별</th>
                                <th scope="col">전화번호</th>
                                <th scope="col">상태</th>
                                <th scope="col">수정</th>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td><a href="/content/table/{{ user.user_id }}/">{{ user.user_id }}</a></td>
                                        <td><a href="/content/dashboard/{{ user.user_id }}/"
                                               class="text_secondary">{{ user.name }}</a></td>
                                        <td>{{ user.gender }}</td>
                                        <td>{{ user.contact }}</td>
                                        <td>{{ user.status }}</td>
                                        <td><a class="text_secondary" href="/content/user/{{ user.user_id }}/">수정</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- 페이징 처리 시작 -->
                        <ul class="pagination justify-content-center">
                            <!-- 이전 페이지 -->
                            {% if users.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ users.previous_page_number }}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            <!-- 페이지 리스트 -->
                            {% for page_number in users.paginator.page_range %}
                                {% if page_number >= newdatas.number|add:-2 and page_number <= users.number|add:2 %}
                                    {% if page_number == users.number %}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="?page={{ page_number }}">
                                                {{ page_number }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_number }}">
                                                {{ page_number }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <!-- 다음 페이지-->
                            {% if users.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ users.next_page_number }}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- 페이징 처리 끝-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
            labels: ["Death", "suicide", "afterlife", "self_Fulfilling_Prophecy", "suicide_method", "self_deprecation",
            "physical_discomfort", "suicide_victim"],
            datasets: [
                {
                    label: "위험 기준(언어적 신호)",
                    backgroundColor: ["#FFB6C1", "#FFFFE0", "#3cba9f", "#e8c3b9", "#FFEFD5", "#F0F8FF", "#B0E0E6", "#B0C4DE"],
                    data: [
                        {% for score in scores %}
                        {{ score }},
                        {% endfor %}]
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: "위험 기준(언어적 신호)"
            }
        }
    });
</script>
<script>
    new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: [
          {% for label in counts %}
          "{{ label.0 }}",
          {% endfor %}],
      datasets: [
        {
          label: "위험 기준(언어적 신호)",
          backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9","#FFA07A", "#98FB98", "#B0E0E6", "#B0C4DE", "#FFB6C1", "#FFFFE0"],
          data: [{% for count in counts %}
              {{ count.1 }},
              {% endfor %}]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: "사용된 단어 빈도 Top10(언어적 신호)"
      }
    }
});
</script>
{% endblock %}